html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: rgba(26, 45, 41, 1);
    color: white;
}

/* HERO */
.hero {
    height: 100vh;
    background: linear-gradient(
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),
    url('https://images.unsplash.com/photo-1509042239860-f550ce710b93') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
}

.hero h1 {
    font-size: 3rem;
}

.hero p {
    margin: 20px 0;
    font-size: 1.2rem;
    
}

.btn {
    background: #c7a17a;
    color: #ffffff;
    padding: 12px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 600;
    
}

/* SECTIONS */
section {
    padding: 70px 20px;
    max-width: 1100px;
    margin: auto;
    
}

h2 {
    text-align: center;
    margin-bottom: 40px;
    
}

/* FILTROS */
.filtros {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 40px;
    
}

.filtros button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background: rgba(13, 35, 30, 1);
    color: white;
}

.filtros button.ativo {
    background: rgba(13, 35, 30, 1);
    color: #ffffff;
}

/* MENU */
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
}

.item {
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.12);
    transition: 0.3s;
    color: black;
}

.item:hover {
    transform: translateY(-8px);
}

.item img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.item h4 {
    margin: 15px;
}

.item span {
    display: block;
    margin: 0 15px 20px;
    font-weight: bold;
}

/* AVALIAÇÕES */
.avaliacao {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: black;
}

/* FOOTER */
footer {
    background: rgba(13, 35, 30, 1);
    color: #C0A352;
    text-align: center;
    padding: 20px;
}



/* MOBILE FIRST */
body {
    font-size: 16px;
}

/* HERO */
.hero h1 {
    font-size: 2.2rem;
}

.hero p {
    font-size: 1rem;
}

/* FILTROS */
.filtros {
    flex-wrap: wrap;
}

/* TABLET */
@media (min-width: 768px) {
    .hero h1 {
        font-size: 3rem;
    }

    .hero p {
        font-size: 1.2rem;
    }
}

/* DESKTOP */
@media (min-width: 1024px) {
    section {
        padding: 90px 20px;
    }
}
